server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${DATABASE_URL}/${DATABASE_SCHEME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true

application:
  jwt:
    secretKey: ${JWT_SECRET}
    expiration: 172800000    # 48시간
    refreshExpiration: 604800000   # 7일
